.row-service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-top: 40px;
    gap: 20px;
    width: 100%;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 9px 11px 29px rgba(125, 138, 152, 0.15);
    padding: 40px;
    transition: .3s;
    cursor: pointer;
    line-height: 1.8rem;
}


@media screen and (max-width: 500px) {
    .row-service {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
    .row-service {
        grid-template-columns: 1fr 1fr;
    }
}